<section class="bg-light p-4">
    <div class="container mt-page">
            <div class="row">
                <div class="col-lx-12">
                <div class="card">
                <div class="card-body">
                <div class="row justify-content-center mt-4">
                <div class="col-xl-5 col-lg-8">
                <div class="text-center">
                <h4>Frequently Asked Questions</h4>
                <p class="text-muted">For questions, please browse the frequently asked questions below, if you are still not satisfied with the answers or don't find the category you need help with, 
                    feel free to leave us a message, click on the button below.</p>
                <div class="p-4">
                <a href="/contact-us#contact_us" class="btn button-primary">Contact Us</a>
                </div>
                </div>
                </div>
                
                </div>
                
                <div class="row justify-content-center mt-5 pb-5">
                <div class="col-9">
                <ul class="nav nav-tabs  nav-tabs-custom nav-justified justify-content-center faq-tab-box" id="pills-tab" role="tablist">
                <li class="nav-item " role="presentation">
                <button class="nav-link mx-auto active" id="pills-genarel-tab" data-bs-toggle="pill" data-bs-target="#pills-genarel" type="button" role="tab" aria-controls="pills-genarel" aria-selected="true">
                <span class="font-size-16">General Questions</span>
                </button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link mx-auto" id="pills-privacy_policy-tab" data-bs-toggle="pill" data-bs-target="#pills-privacy_policy" type="button" role="tab" aria-controls="pills-privacy_policy" aria-selected="false">
                <span class="font-size-16">Privacy Policy</span>
                </button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link mx-auto" id="pills-teachers-tab" data-bs-toggle="pill" data-bs-target="#pills-pricing_plan" type="button" role="tab" aria-controls="pills-pricing_plan" aria-selected="false">
                <span class="font-size-16">Pricing &amp; Plans</span>
                </button>
                </li>
                </ul>
                </div>
                <div class="col-lg-9">
                <div class="tab-content pt-3" id="pills-tabContent">
                <div class="tab-pane fade active show" id="pills-genarel" role="tabpanel" aria-labelledby="pills-genarel-tab">
                <div class="row g-4 mt-2">
                <div class="col-lg-6">
                <h5>How does MosalaPro work ?</h5>
                <p class="text-muted">MosalaPro is the largest african service provider platform that enables both service providers and users to meet their goals. Search for 
                    service providers who are needed for your project, message them, get a quote and approve the quote offer. In case it is hard to find
                    an appropriate service provider, or there's no time to find go through the search result, just post your service request and let service providers apply for it.</p>
                </div>
                <div class="col-lg-6">
                <h5>How do you join MosalaPro as a user ?</h5>
                <p class="text-muted">You can join MosalaPro for free by signing up to the right top corner or using the links in the bootom of any page that you're on.
                    Try it now, it's free</p>
                </div>
                <div class="col-lg-6">
                <h5>How do I join MosalaPro as service provider ?</h5>
                <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more simple and
                regular than the existing
                </p>
                </div>
                <div class="col-lg-6">
                <h5>How do I submit a service request ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more
                simple and regular than that of the individual languages. </p>
                </div>
                </div>
                </div>
                <div class="tab-pane fade" id="pills-privacy_policy" role="tabpanel" aria-labelledby="pills-privacy_policy-tab">
                <div class="row g-4 mt-2">
                <div class="col-lg-6">
                <h5>How is my data collected ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>Does MosalaPro sell my data ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>How does MosalaPro use my personal information ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>Do providers have access to my information ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                </div>
                </div>
                <div class="tab-pane fade" id="pills-pricing_plan" role="tabpanel">
                <div class="row g-4 mt-4">
                <div class="col-lg-6">
                <h5>Do I have to pay for a user account ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>Why do service providers have to get a package ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>Can I extend my package ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                <div class="col-lg-6">
                <h5>What are the benefits of subscribing to one of the package ?</h5>
                <p class="lg-base">If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages. The new common language will be more
                simple and regular than the existing</p>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                
                </div>
                </div>
                </div>
                </div>

            </div>

        </section>

