
      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-3 col-lg-3">
                <h5>Our Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">14973 Interurban Ave <br>New York, NY 98168</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">+1 (800) 123 1234</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-clock"></div>
                      </div>
                      <div class="unit-body">
                        <ul class="list-0">
                          <li>Weekdays: 8:00–05:00 Pm</li>
                          <li>Weekends: 8:00-03:00 Pm</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul><a class="d-inline-block big" href="mailto:#">support@mosalapro.com</a>
              </div>
              <div class="col-md-3 col-lg-3">
                <h5>Company Info</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-8">
                    <ul class="footer-list big">
                      <li><a href="/about-us">About Us</a></li>
                      <li><a href="/professionals">For Professionals</a></li>
                      <li><a href="#">Terms of Use</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Do not Sell</a></li>
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Retirement</a></li>
                    </ul>
                  </div>
				  
                  
                </div>
              </div>
              <div class="col-md-3 col-lg-3 ">
                <h5 class="left">Quick Links</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-8">
                    <ul class="footer-list big">
                      <li><a href="/">Home</a></li>
                      <li><a href="/search">Search for Services</a></li>
                      <li><a href="/about-us">About Us</a></li>

                      <% if(usr){ %>
                        <li><a href="/service-request" >My Service Requests</a></li>
                        <% } else { %>
                          <li><a href="#logModalCta" data-toggle="modal" data-caption-animate="fadeInUp">Login</a></li>
                          <li><a href="#regModalCta" data-toggle="modal" data-caption-animate="fadeInUp">Create an account</a></li>
                        <% } %>

                      <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                  </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <h5>Partners</h5>
                <!--div class="row row-30 align-items-center text-center">
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-1-144x70.png" alt="" width="144" height="35"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-2-121x68.png" alt="" width="121" height="34"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-3-121x33.png" alt="" width="121" height="16"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-4-101x76.png" alt="" width="101" height="38"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26"/></a></div-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights text-center"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Mosalapro TM</p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      function _(element){return document.getElementById(element); }
      _('country_search').onchange = function(){
      filename = "./data/cities/" + _('country_search').value +".json";
      $.getJSON(filename, function(data) {
        var items = [];
        items.push('<option value="">City</option>');
        $.each(data, function( key, val ) {
              items.push('<option value="' + val.name + '">' + val.name+ '</option>');
          });
          _('city_search').innerHTML = items;
       });
      }
      _('country').onchange = function(){
          filename = "./data/cities/" + _('country').value +".json";
          $.getJSON(filename, function(data) {
            var items = [];
            items.push('<option value="">Select City</option>');
            $.each(data, function( key, val ) {
                  items.push('<option value="' + val.name + '">' + val.name+ '</option>');
              });

              _('city').innerHTML = items;
          });
      }
      _('country_p').onchange = function(){
          filename = "./data/cities/" + _('country_p').value +".json";
          $.getJSON(filename, function(data) {
            var items = [];
            items.push('<option value="">Select City</option>');
            $.each(data, function( key, val ) {
                  items.push('<option value="' + val.name + '">' + val.name+ '</option>');
              });

              _('city_p').innerHTML = items;
          });
        
      }
      _('country_').onchange = function(){
      filename = "./data/cities/" + _('country_').value +".json";
      $.getJSON(filename, function(data) {
        var items = [];
        items.push('<option value="">Select City</option>');
        $.each(data, function( key, val ) {
              items.push('<option value="' + val.name + '">' + val.name+ '</option>');
          });
          _('city_').innerHTML = items;
      });}
      
    </script>
    <script>

      
addEventListener("DOMContentLoaded", (event) => {
  const password = document.getElementById("password-input");
  const passwordAlert = document.getElementById("password-alert");
  const requirements = document.querySelectorAll(".requirements");
  let lengBoolean, bigLetterBoolean, numBoolean, specialCharBoolean;
  let leng = document.querySelector(".leng");
  let bigLetter = document.querySelector(".big-letter");
  let num = document.querySelector(".num");
  let specialChar = document.querySelector(".special-char");
  const specialChars = "!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
  const numbers = "0123456789";

  requirements.forEach((element) => element.classList.add("wrong"));

  password.addEventListener("focus", () => {
      passwordAlert.classList.remove("d-none");
      if (!password.classList.contains("is-valid")) {
          password.classList.add("is-invalid");
      }
  });

  password.addEventListener("input", () => {
      let value = password.value;
      if (value.length < 8) {
          lengBoolean = false;
      } else if (value.length > 7) {
          lengBoolean = true;
      }

      if (value.toLowerCase() == value) {
          bigLetterBoolean = false;
      } else {
          bigLetterBoolean = true;
      }

      numBoolean = false;
      for (let i = 0; i < value.length; i++) {
          for (let j = 0; j < numbers.length; j++) {
              if (value[i] == numbers[j]) {
                  numBoolean = true;
              }
          }
      }

      specialCharBoolean = false;
      for (let i = 0; i < value.length; i++) {
          for (let j = 0; j < specialChars.length; j++) {
              if (value[i] == specialChars[j]) {
                  specialCharBoolean = true;
              }
          }
      }

      if (lengBoolean == true && bigLetterBoolean == true && numBoolean == true && specialCharBoolean == true) {
          password.classList.remove("is-invalid");
          password.classList.add("is-valid");

          requirements.forEach((element) => {
              element.classList.remove("wrong");
              element.classList.add("good");
          });
          passwordAlert.classList.remove("alert-warning");
          passwordAlert.classList.add("alert-success");
      } else {
          password.classList.remove("is-valid");
          password.classList.add("is-invalid");

          passwordAlert.classList.add("alert-warning");
          passwordAlert.classList.remove("alert-success");

          if (lengBoolean == false) {
              leng.classList.add("wrong");
              leng.classList.remove("good");
          } else {
              leng.classList.add("good");
              leng.classList.remove("wrong");
          }

          if (bigLetterBoolean == false) {
              bigLetter.classList.add("wrong");
              bigLetter.classList.remove("good");
          } else {
              bigLetter.classList.add("good");
              bigLetter.classList.remove("wrong");
          }

          if (numBoolean == false) {
              num.classList.add("wrong");
              num.classList.remove("good");
          } else {
              num.classList.add("good");
              num.classList.remove("wrong");
          }

          if (specialCharBoolean == false) {
              specialChar.classList.add("wrong");
              specialChar.classList.remove("good");
          } else {
              specialChar.classList.add("good");
              specialChar.classList.remove("wrong");
          }
      }
  });

  password.addEventListener("blur", () => {
      passwordAlert.classList.add("d-none");
  });
});

let t1 = gsap.timeline();
let t2 = gsap.timeline();
let t3 = gsap.timeline();

t1.to(".page-nf-cog1",
{
  transformOrigin:"50% 50%",
  rotation:"+=360",
  repeat:-1,
  ease:Linear.easeNone,
  duration:8
});

t2.to(".page-nf-cog2",
{
  transformOrigin:"50% 50%",
  rotation:"-=360",
  repeat:-1,
  ease:Linear.easeNone,
  duration:8
});

t3.fromTo(".page-nf-wrong-para",
{
  opacity:0
},
{
  opacity:1,
  duration:1,
  stagger:{
    repeat:-1,
    yoyo:true
  }
});


    </script>
  </body>
</html>
