<section class="job-cats">
    <div class="container p-4 mt-4">
        <h2 class="text-center"><span class="text-light">Be part of our growing </span><span>  professional community.</span></h2>
        <p class="big text-secondary px-cust"> 
        Sign up as a service provider, set up your profile, and offer your work to our global audience.
        Get notified when you get a service request that matches your profile is posted  and use our system to discuss details with customers.
        </p>
       <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>Business Management</h5>
        <p class="mb-0 text-muted">124 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>UI Design</h5>
        <p class="mb-0 text-muted">76 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>Software Engineering</h5>
        <p class="mb-0 text-muted">54 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>Sales &amp; Marketing</h5>
        <p class="mb-0 text-muted">28 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>Data Science</h5>
        <p class="mb-0 text-muted">14 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex mb-4 align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

        <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro1-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro2-modified.png" class="img-fluid" alt="">
        </div>

        <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
        <img src="images/pro3-modified.png" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        <h5>Content Creation</h5>
        <p class="mb-0 text-muted">7 Jobs opportunities</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        </div>
        <center><a class="button button-secondary-text align-self-center" href="#proSignModalCta" data-toggle="modal" data-caption-animate="fadeInUp">Sign Up as Servcie Provider</a></center>
    </div>
</section>
