<section class="job-cats">
    <div class="container p-4 mt-4">
        <h2 class="text-center"><span class="text-light">Be part of our growing </span><span>  professional community.</span></h2>
        <p class="big text-secondary px-4"> 
        Sign up as a service provider, set up your profile, and offer your work to our global audience.
        Get notified when you get a service request that matches your profile is posted  and use our system to discuss details with customers.
        </p>
       <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex  align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li class="number"><a href="#">+26</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <h5>Accounting</h5>
        <p class="mb-0 text-muted">124 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li class="number"><a href="#">+45</a></li>
                    </ul>
                </div>
            </div>

        </div>
        </div>
        <h5>Architecture</h5>
        <p class="mb-0 text-muted">76 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex  align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li class="number"><a href="#">+62</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        </div>
        <h5>Software Development</h5>
        <p class="mb-0 text-muted">54 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li  class="sm-scr"><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li class="number"><a href="#">+53</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <h5>Sales &amp; Marketing</h5>
        <p class="mb-0 text-muted">28 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li class="number"><a href="#">+76</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <h5>Technology & Engineering</h5>
        <p class="mb-0 text-muted">14 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card hover-lift hover-shadow-xl shadow-sm border-0">

        <div class="card-body p-4">
        <div class="d-flex  align-items-center">

        <div class="flex-grow-1 d-flex align-items-center">

            <div class="widget">
                <div class="widget-content">
                    <ul class="widget-user-list">
                        <li class="sm-scr"><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro3.jpg" alt=""></a></li>
                        <li class="sm-scr"><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro4.jpeg" alt=""></a></li>
                        <li><a href="#"><img src="images/pro1.jpg" alt=""></a></li>
                        <li class="number"><a href="#">+96</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <h5>Content Creation</h5>
        <p class="mb-0 text-muted">7 Service requests</p>
        </div>

        <a href="#!" class="stretched-link"></a>
        </div>
        </div>
        </div>
        <center><a class="button button-secondary-text align-self-center" href="#proSignModalCta" data-toggle="modal" data-caption-animate="fadeInUp">Sign Up as Servcie Provider</a></center>
    </div>
</section>
