<section class="p-4 pro-sample-section">
    <div class="container mb-4 p-4">
        <h2 class="text-center"><span class="text-light">Stand out to Customers.</span><span>  Get Certified.</span></h2>
        <p class="big text-secondary px-cust">  Join as service provider and get certified to stand out to customers and expand your business. Our certified providers are top listed and keep their customers coming back.
            Access an easier way to manage your clients with online bookings.
        </p>
    <div class="row">
        <div class="col-lg-3">
        <div class="text-center card-box-pro">
        <div class="member-card pt-2 pb-2">
        <div class="thumb-lg member-thumb mx-auto"><img src="images/pro1.jpg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
        <div class="mt-2">
        <h6>Freddie J. Plourde <svg class="text-primary mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg></h6>
        <span class="text-muted ">Techinician </span>
        <ul class="rating " data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3"> 
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas active"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas "></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fas fa-star fa-sm rating-star-color "></b></li>
            <li class="d-inline"> <b class="fas fa-star fa-sm rating-star-color"></b></li><span>(44)</span>
        </ul>
        </div>
        <ul class="social-links list-inline">
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><b class="fa fa-facebook"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><b class="fa fa-linkedin"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><b class="fa fa-whatsapp"></b></a></li>
        </ul>
       
        </div>
        </div>
        </div>

        <div class="col-lg-3">
            <div class="text-center card-box-pro">
            <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto"><img src="images/pro2.jpg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
            <div class="mt-2">
            <h6>Jean Kwame <svg class="text-primary mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
              </svg></h6>
            <span class="text-muted ">Painter  </span>
        <ul class="rating " data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3"> 
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fas fa-star fa-sm rating-star-color "></b></li>
            <li class="d-inline"> <b class="fas fa-star fa-sm rating-star-color "></b></li><span>(78)</span>
        </ul>
        </div>
        <ul class="social-links list-inline">
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><b class="fa fa-facebook"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><b class="fa fa-linkedin"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><b class="fa fa-whatsapp"></b></a></li>
        </ul>
            </div>
            </div>
        </div>


        <div class="col-lg-3">
        <div class="text-center card-box-pro">
        <div class="member-card pt-2 pb-2">
        <div class="thumb-lg member-thumb mx-auto"><img src="images/pro3.jpg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
        <div class="mt-2">
        <h6>Julie L. Arsenault <svg class="text-primary mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg></h6>
        <span class="text-muted ">Data Analyst  </span>
        <ul class="rating " data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3"> 
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas "></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="far fa-star fa-sm rating-star-color "></b></li>
            <li class="d-inline"> <b class="far fa-star fa-sm rating-star-color"></b></li><span>(84)</span>
        </ul>
        </div>
        <ul class="social-links list-inline">
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><b class="fa fa-facebook"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><b class="fa fa-linkedin"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><b class="fa fa-whatsapp"></b></a></li>
        </ul>
        </div>
        </div>
        </div>

        <div class="col-lg-3">
        <div class="text-center card-box-pro">
        <div class="member-card pt-2 pb-2">
        <div class="thumb-lg member-thumb mx-auto"><img src="images/pro4.jpeg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
        <div class="mt-2">
        <h6>Christopher Gall <svg class="text-primary mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
          </svg></h6>
        <span class="text-muted">Civil Engineer  </span>
        <ul class="rating " data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3"> 
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
            <li class="d-inline"><b class="fas fa-star fa-sm rating-star-color "></b></li>
            <li class="d-inline"> <b class="fas fa-star fa-sm rating-star-color"></b></li><span>(45)</span>
        </ul>
        </div>
        <ul class="social-links list-inline">
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><b class="fa fa-facebook"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><b class="fa fa-linkedin"></b></a></li>
        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><b class="fa fa-whatsapp"></b></a></li>
        </ul>
        </div>
        </div>
        </div>

        </div>
    </div>
</section>