<div class="modal fade pro-modal" id="proSignModalCta" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
    <div id="pills-register" class="adaptive-px">
        <div class="text-center mb-2">
          <h6 class="title text text-center">Sign Up as Service Provider</h6> 
          <span class="mb-2">With </span>
          <button type="button" class="btn btn-floating mx-1">
            <a class="fab fa-facebook-f" href="/auth/facebook"></a>
          </button>

          <button type="button" class="btn btn-floating mx-1">
            <a class="fab fa-google"  href="/auth/google"></a>
          </button>

          <button type="button" class="btn btn-floating mx-1">
            <a class="fab fa-twitter"></a>
          </button>

          <button type="button" class="btn  btn-floating mx-1">
            <a class="fab fa-github"></a>
          </button>
        </div>
        <p class="text-center mb-2">Or fill in information below.</p>
      
      <form  action="/register-pro" method="post">
        <!-- Company Name input -->
        <div class="form-group form-group-sm">
            <!-- Company Name input -->
            <div class="row mt-1">
              <div class="col mb-2">
                  <!-- Country input -->
                  <div class="form-outline  ">
                    <select class="form-control" aria-label="Select Category" name="pRegisterCategory" style="display: inline;">
                        <option selected>Select Category</option>

                        <% if(categories){ categories.forEach(cat=>{ %>
                          <option value="<%=cat.name %>"><%=cat.name %></option>
                        <% });} %>
                      </select>
                  </div>
              </div>
            </div>  
            <div class="row mt-1">
              <div class="col-lg-6 col-md-6 col-sm-12  mb-2">
                  <!-- First name input -->
                  <div class="form-outline  ">
                      <input type="text" id="proRegisterName" class="form-control" placeholder="First Name" name="pFirstName"  required/>
                    </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                  <!-- Last name input -->
                  <div class="form-outline  ">
                      <input type="text" id="proRegisterLastname" class="form-control" placeholder="Last Name" name="pLastName"  required/>
                  </div>
              </div>
            </div>
          
          <div class="row mt-1">
              <div class="col-lg-6 col-md-6 col-sm-12  mb-2">
                  <!-- Email input -->
                  <div class="form-outline ">
                      <input type="email" id="proRegisterEmail" class="form-control" placeholder="Email" name="pEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                  <!-- Phone input -->
                  <div class="form-outline ">
                      <input type="number" id="proRegisterPhone" class="form-control" placeholder="Phone Number" name="pPhone" pattern="/((\+*)((0[ -]*)*|(*))((\d{12})+|(\d{10})+))|\d{5}([- ]*)\d{6}/" required/>
                  </div>
              </div>
          </div>
          <!-- Address input -->
          <div class="row mt-1">
              <div class="col mb-2">
                  <div class="form-outline  ">
                      <input type="text" id="proRegisterAddress" class="form-control" placeholder="Address" name="pAddress"/>
                    </div>
              </div>
          </div>
          
          <div class="row mt-1">
              <div class="col-lg-6 col-md-6 col-sm-12  mb-2">
                  <!-- Country input -->
                  <div class="form-outline  ">
                    <select name="country_pro" id="country_pro" class="form-control" aria-label="Select Country" style="display: inline;" required>
                        <option selected>Select Country</option>
                        <% countries.forEach(country => { %> 
                          <option value="<%= country.name %>"> <%= country.name %></option>
                          <% }); %>
                      </select>
                    </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                  <!-- City input -->
                  <div class="form-outline  ">
                    <select class="form-control" aria-label="Select City"  style="display: inline;" id="city_p" name="city_p" required>
                        <option selected>Select City</option>
                      </select>
                    </div>
              </div>
          </div>

          <div class="row mt-1">
              <div class="col-lg-6 col-md-6 col-sm-12  mb-2">
                  <!-- Password input -->
                      <div class="form-outline">
                          <input type="password" id="pro-password-input" class="form-control" placeholder="Password" name="password" aria-label="password" aria-describedby="password" autocomplete="off"required/>
                      </div>
                      <div class="valid-feedback">Good</div>
                      <div class="invalid-feedback">Weak</div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12  ">
                  <!-- Conifrm Password input -->
                  <div class="form-outline  ">
                      <input type="password" id="pro-password-input-conf" class="form-control" placeholder="Confirm Password" autocomplete="off" required/>
                  </div>
                  <div class="valid-feedback">Match</div>
                  <div class="invalid-feedback">Do not match</div>
              </div>
            </div>
              
          

            <div class="row  mt-1">
              <div class="col-md-6 col-lg-6 col-sm-12  mb-2 ">
                <!-- Checkbox -->
                <div class="form-check mb-1">
                  <input class="form-check-input" type="checkbox" value="" id="proTermsCheck" unchecked required/>
                  <label class="form-check-label" for="termsCheck"> I have read the terms and conditions.</label>
                </div>
              </div>
      
              <div class="col-md-6 col-lg-6 col-sm-12  ">
                <!-- Simple link -->
                <a href="#!">Read terms and conditions</a>
              </div>
            </div>
      
            <div class="row  mt-1 mb-3">
              <div class="col d-flex flex-column justify-content-center align-items-center">
                  <div class="g-recaptcha" data-sitekey="6LdUeBMlAAAAAAln0xxrDWAG1kHsZLwtNVVYn8o6" data-callback="enableProBtn"></div>
              </div>
            </div>
            <div class="row mt-2">
            <div class="col">
                <!-- Submit button -->
                <input type="submit" class="btn button-primary btn-block mb-1" name="register-p" value="Register" disabled="disabled">
            </div>
          </div>
        </div>
      </form>
        <div class="d-flex flex-column justify-content-center align-items-center"> 
          <span>Already have an account?  <a class="text-primary" href="#logModalCta" data-toggle="modal" data-dismiss="modal" data-caption-animate="fadeInUp">Sign In</a></span>
        </div>
    </div>
  </div>
</div>
</div>

<script>
  function _(elt){return document.getElementById(elt); }
  _('country_pro').onchange = function(){
      filename = "./data/cities/" + _('country_pro').value +".json";
      $.getJSON(filename, function(data) {
        var items = [];
        items.push('<option value="">Select City</option>');
        $.each(data, function( key, val ) {
              items.push('<option value="' + val.name + '">' + val.name+ '</option>');
          });
          _('city_').innerHTML = items;
      });}
  function enableProRegBtn(){
    document.getElementById("register-p").disabled = false;
  }
</script>