<section class="bg-light">
    <div class="container px-4">
        <h4 class="ml-4 mb-3">Recent service providers</h4>
        <div class="row p-3">
            <% providers.forEach(provider=>{ %>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12 custom-px">
                    <div class="text-center card-box-pro">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img src="photo/<%=provider.photo %> " class="rounded-circle img-thumbnail" alt="profile-image"></div>
                            <div class="mt-2">
                                <h6><%=provider.firstName %> <%=provider.lastName %> </h6>
                                <span class="text-muted "><%=provider.role %>  </span>
                                <ul class="rating " data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3"> 
                                    <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas active"></b></li>
                                    <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas "></b></li>
                                    <li class="d-inline"><b class="fa-star fa-sm rating-star-color fas"></b></li>
                                    <li class="d-inline"><b class="fas fa-star fa-sm rating-star-color "></b></li>
                                    <li class="d-inline"> <b class="fas fa-star fa-sm rating-star-color"></b></li><span>(44)</span>
                                </ul>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><b class="fa fa-facebook"></b></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="LinkedIn"><b class="fa fa-linkedin"></b></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><b class="fa fa-whatsapp"></b></a></li>
                            </ul>
                    
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>

        </div>
    </div>
</section>