<%- include('partials/header') %>
<hr class="hr-page-sep" />
<section class="section section-md">
        <div class="container">
            <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-post"></span><span>Contact <span class="text-light"> Us</span></span></h2>
          <div class="row row-40">
            <div class="col-md-10 col-lg-6">
              <h5>Our main office</h5>
              <div class="group-lg group-wrap-3">
                <div class="group-item">
                  <dl class="list-terms-2">
                    <dt>Phone:</dt>
                    <dd><a href="tel:#">+1 (800) 123 1234</a></dd>
                  </dl>
                  <dl class="list-terms-2">
                    <dt>Fax:</dt>
                    <dd><a href="tel:#">+1 (800) 123 1234</a></dd>
                  </dl><a class="d-inline-block font-weight-bold link-underline" href="mailto:#">support@mosalapro.com </a>
                </div>
                <div class="group-item">
                  <ul class="list list-0">
                    <li class="text-secondary">14973 Interurban Ave <br>Suite 101 <br>New York, NY 98168</li>
                    <li>  Mon-Fri: 8:00 AM - 5:00 PM</li>
                  </ul>
                </div>
              </div>
              
              
              <figure class="figure-light"><img class="img-centered" src="images/contact_us.png" alt="" width="544" height="171"/>
              </figure>

            </div>
            <div class="col-md-10 col-lg-6">
              <h5>Get in Touch</h5>
              <!--RD Mailform-->
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-10">
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input border" placeholder="First Name" name="contactFirstName" id="contact-first-name" type="text" data-constraints="@Required">
        
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input border" placeholder="Last Name" name="contactLastName" id="contact-last-name" type="text" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <textarea class="form-input border" id="contact-message" name="message" placeholder="Message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                  <div class="col-md-7 col-xl-8">
                    <div class="form-wrap">
                      <input class="form-input border" id="contact-email" type="email" name="email" placeholder="Email"data-constraints="@Email @Required">
                    </div>
                  </div>
                  <div class="col-md-5 col-xl-4">
                    <button class="button button-size-1 button-block button-primary" type="submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>