
<%- include('partials/header') %>
<section class="section bg-light search-pro-section p-4 m-4">

    <div class="container p-4 mt-4 mb-4">
        <h3 class="text-center mt-4 mb-4"> Do not sell</h3>

        <p>We do not knowingly “sell” personal information that we collect from you, in accordance with the definition of “sell” in the CCPA, and will treat personal information we collect from you as subject to a do not sell request. There is not yet a consensus as to whether third-party cookies and tracking devices associated with our websites and mobile apps may constitute a “sale” of your PI as defined by the CCPA. You can exercise control over browser-based cookies by adjusting the settings on your browser. We also list cookies and provide access to their privacy information and, if available, opt-out programs in our Cookies Policy. Further, you can learn more about your choices regarding certain kinds of online interest-based advertising with the Digital Advertising Alliance or the Network Advertising Initiative. We do not represent that these third-party tools, programs or statements are complete or accurate.</p>
        <p>Some browsers have signals that may be characterized as do not track signals, but we do not understand them to operate in that manner or to indicate a do not sell expression by you, so we currently do not recognize these as a do not sell request. We understand that various parties are developing ‘do not sell’ signals and we may recognize certain such signals if we conclude such a program is appropriate.</p>

    </div>
</section>

<%- include('partials/footer') %>