<%- include('partials/header') %>

<section class="section bg-light search-pro-section p-4 m-4">

    <div class="container p-4 mt-4 mb-4">
        <h3 class="text-center mt-4"> Terms of use</h3>

        <h5>Terms & Conditions</h5>

        <p>These Terms of Service govern your access and use of the MOSALAPRO. Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</p>
        <p>The Terms form a legally binding agreement between you and MOSALAPRO in relation to your use of the Services. It is important that you take the time to read them carefully.</p>
        <p>In order to use the Services, you must firstly agree to the Terms. You may not use the Services if you do not accept the Terms.</p>
        <p>You can accept the Terms by simply using the Services. You understand and agree that MOSALAPRO will treat your use of the Services as acceptance of the Terms from that point onwards.</p>
        <p>If any provision of these terms and conditions is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the other provisions of this Agreement and the remainder of the provision in question will not be affected.</p>
        <p>This Software, any content contained herein and any contract brought into being as a result of usage of this Software are governed by and construed in accordance with law of the jurisdiction specified in the clause below and the parties to any such contract agree to submit to the exclusive jurisdiction of the courts as specified. All contracts are concluded in English. These terms and conditions do not affect your statutory rights.</p>
        <p>MOSALAPRO may make changes to the Terms from time to time. When these changes are made, you can read the new term on Mosalapro.com/terms.</p>
        <p>You understand and agree that if you use the Services after the date on which the Terms have changed, MOSALAPRO will treat your use as acceptance of the updated Terms.</p>

        <h5>Privacy Policy</h5>

        <p>In common with other websites, log files are stored on the web server saving details such as the visitor’s IP address, browser type, referring page and time of visit. Cookies may be used to remember visitor preferences when interacting with the website. Where registration is required, the visitor’s email, telephone Number and a username will be stored on the server. The information is used to enhance the visitor’s experience when using the website to display personalized content and possibly advertising. E-mail addresses will not be sold, rented or leased to 3rd parties. E-mail may be sent to inform you of news of our services or offers by us or our affiliates.</p>
        <p>If you have subscribed to one of our services, you may unsubscribe by following the instructions which are included in e-mail that you receive.</p>
        <h5>License Agreement</h5>
        <p>The content of the Software is protected by copyright, trademarks, database and other intellectual property rights and you acknowledge that the intellectual property rights in the material and content supplied as part of the Software shall remain with us or our licensors.</p>
        <p>You may download or copy the content and other downloadable items displayed on the Software subject to the condition that the material may only be used for personal non-commercial purposes. Copying or storing the contents of the Software for other than personal use is expressly prohibited.</p>
        <p>You may retrieve and display the content of the Software on a computer screen, store such content in electronic form on disk (but not any server or other storage device connected to a network) or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on the Software.</p>
        <p>You further acknowledge that any other use of the material and content of this Software is strictly prohibited and you agree not to (and agree not to assist or facilitate any third party to) copy, reproduce, transmit, publish, display, distribute, commercially exploit or create derivative works of such material and content.</p>
        <p>For more information, please <a href="/contact-us">contact us.</a> </p>
    </div>
</section>

<%- include('partials/footer') %>